#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
  entities: [%appDir%/PostBundle/Model]

services:
  - \Flame\CMS\PostBundle\Model\PostFacade
  - \Flame\CMS\PostBundle\Model\PostManager

  - Flame\CMS\PostBundle\Model\Categories\CategoryFacade
  - Flame\CMS\PostBundle\Model\Categories\CategoryManager

  - \Flame\CMS\PostBundle\Model\Tags\TagFacade
  - \Flame\CMS\PostBundle\Components\Tags\TagControlFactory
  - \Flame\CMS\PostBundle\Model\Tags\TagManager

factories:
  postForm:
    create: \Flame\CMS\PostBundle\Forms\PostForm(%default%)
    implement: \Flame\CMS\PostBundle\Forms\IPostFormFactory
    parameters: [array default = []]

  postControl:
    create: \Flame\CMS\PostBundle\Components\PostControl(%posts%)
    implement: \Flame\CMS\PostBundle\Components\IPostControlFactory
    parameters: [array posts]

  categoryForm:
    create: \Flame\CMS\PostBundle\Forms\Categories\CategoryForm(%categories%, %defaults%)
    implement: \Flame\CMS\PostBundle\Forms\Categories\ICategoryFormFactory
    parameters: [array categories, array defaults = []]

  tagForm:
    create: \Flame\CMS\PostBundle\Forms\Tags\TagForm(%default%)
    implement: \Flame\CMS\PostBundle\Forms\Tags\ITagFormFactory
    parameters: [array default = []]